@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272a transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #09090b;
    color: #fafafa;
  }

  ::selection {
    background-color: rgba(139, 92, 246, 0.3);
  }
}
